.search-container{
    border: solid 2px blue;
    border-radius: 10px;
    height: 30vh;
    margin: 1rem;

}

.search-label {
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}
.search-label span {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .search-input,
  .search-btn{
    height: 2rem;
  }
  .search-input{
    width: 30vw;
  }