.article-preview-card{
    height: auto;
    width: 30vw;
    background-color: white;
    border: solid 2px black;
    /* border-radius: 10px; */
    padding: 2rem;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .headline-image {
    height: auto;
    width: 22vw;
  }
  .headline-title-preview {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 22vw;
  }
  .page-title{
    margin: 1rem;

  }
  .headline-title-caption{
    font-style: italic;
    font-size: 1.3rem;
  }
  .minutes-since-published{
    margin-top: 1rem;
  }
  .top-headlines-container{
    width: 20vw;
  }
