.header-logo{
    display: flex;
    height: auto;
    align-items: center;
    overflow: hidden;
    margin-left: 10vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.header-image{
    height: 4vh;
    margin-right: .5vw;
}
.header-container {
    background-color:white;
    margin:0;
    padding: 0;
    border-bottom: solid 2px black;
}